@font-face {
    font-family: 'TTNorms-Medium';
    src: url('../fonts/TTNorms-Medium.ttf') format('ttf');
    src: url('../fonts/TTNorms-Medium.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'TTNorms-Regular';
    src: url('../fonts/TTNorms-Regular.ttf') format('ttf');
    src: url('../fonts/TTNorms-Regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
}